.toast-container[b-sca1ycts3e] {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1006;
}

.toast[b-sca1ycts3e] {
    font-family: var(--font-family);;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    font-size: 13px;
    animation: toast-rise-b-sca1ycts3e 0.3s ease-out forwards;
}

.toast.info[b-sca1ycts3e] {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.toast.success[b-sca1ycts3e] {
    background-color: #1c9749;
}

.toast.error[b-sca1ycts3e] {
    background-color: #e11d48;
}

.close-btn[b-sca1ycts3e] {
    background: none;
    border: none;
    color: var(--bg-color);
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

@keyframes toast-rise-b-sca1ycts3e {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}