@using LUMI.Components.Pages
@using LUMI.DataAccess.Movies
@inherits LayoutComponentBase

<body class="header_body">
<div class="container">
    <aside class="sidebar">
        <img src="favicon.png" width="40" height="40" style="margin-bottom: 10px"/>
        <div class="logo">
            <span class="logo-prime">LUMI.</span>Cine
        </div>
        <nav class="main-nav">
            <a href="/" class="nav-item">🏠 Головна</a>
            @{
                string randomMovieUrl = "#";
                if (Home.movies.Any()) {
                    randomMovieUrl = $"/movie/{Home.movies[new Random().Next(0, Home.movies.Count)].ID}";
                }
            }
            <a href="@randomMovieUrl"
               class="nav-item">✨ Здивуй мене</a>
            <a href="https://donatello.to/arcaneblaze"
               class="nav-item">🪙 Підтримати</a>
        </nav>
    </aside>
    <main class="main-content">
        @Body
    </main>
</div>
</body>
